@model IEnumerable<EBook_Reader.Models.PublicComments>
@{
    ViewData["Title"] = "viewPublicComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>

<p>
    <a asp-action="addComment" class="button">Add New Comment</a>
</p>
<div style="margin:40px 70px">
    <table class="table" cellspacing="13">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicDocument)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.CommentDate)
                    </td>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.PublicDocument.DocumentName)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td style="padding: 0.1em;">

                            <a asp-action="editPublicComment" asp-route-id="@item.PublicCommentsId" class="button">Edit Comment</a> |
                            <a asp-action="deletePublicComment" asp-route-id="@item.PublicCommentsId"class="button" >Delete Comment</a>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="PublicHomePage" class="button">Back to Document List</a>
</div>
<style>

    a.button {
        background-color: #56baed;
        color: white;
        padding: 4px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    }
</style>


